:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #d9d9d9;
}

td {
  height: 60px;
  width: 60px;
  border: .5px #bfbfbf solid;
}

.sudoku-board .active {
  background: #d6e4ff;
}

.sudoku-board {
  font-size: 24px;
}

#number-buttons {
  font-size: 24px;
}

.number-button {
  width: 70px;
  height: 50px;
  padding: 0px;
  margin: 4px 0px;
}

.buttons-wrapper {
  display: flex;
  margin-top: 15px;
}

.candidate-switch-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.candidate-switch {
  font-size: 18px;
  height: 50px;
  margin: 4px 0px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.toolbar {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.game-button {
  margin: 20px;
}

#game-table {
  border: 1.5px solid black;
}

.border-bottom {
  border-bottom: 1.5px solid black;
}

.border-right {
  border-right: 1.5px solid black;
}

.filled-in-tile {
  background-color: #f5f5f5;
}

.padded-10 {
  padding: 10px;
}

#game-page {
  display: flex;
  flex-direction: row;
}

.loader {
  border: 16px solid #597ef7; /* Light grey */
  border-top: 16px solid #f5f5f5; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1.5s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  display: none;
}